	@import url('https://fonts.googleapis.com/css?family=Roboto:300');

	.Hobbies {
		font-family: 'Roboto', sans-serif;
		max-width: 400px;
		margin: auto;
		border: 1px solid #ddd;
		border-radius: 4px;
		margin-top: 60px;
		text-align: center;
	}

	.Hobbies * {
		box-sizing: border-box;
	}
	.Hobbies h2 {
		font-size: 35px;
		font-weight: 300;
	}
	.Hobbies p{
		margin-top: 0;
	}

	.Hobbies input, .Hobbies button{
		height: 40px;
		width: 100%;
		padding: 0 10px;
		border: 0;
		border-top: 1px solid #ddd;
	}
